body {
  margin: 0;
}

.navbar {
  background:linear-gradient(0.25turn, blue, red);
  
}

.country-info {
  display: flex;
}

.country-name {
  color: white;
}

.header__image {
  background-size: cover;
  background: linear-gradient(transparent, black), url(https://www.smartertravel.com/uploads/2017/06/canamericanstraveltocuba_hero-1400x500.jpg);
  height: 60vh;
  width: 100%;
  display: flex;
 
}

.cities-list {
  background-color: blue;
}

.landmarks-list {
  background-color: crimson;
}

.heads-list {
  background-color: #ddd;
}

.cities-list {
  height: 500px;
}