.body {
  margin: 0;
}

.navbar {
  background:linear-gradient(0.25turn, blue, red, white);
  border-bottom: 1px solid #fff;
  
}

button {
  cursor: pointer;
  margin: 0;
  padding-left: 10px;
  display: flex;
  border: none;
  outline: none;
}

.cities-btn {
  background-color: darkblue;
}

.cities-btn:hover {
  border: 2px solid goldenrod;
  transition: .5s;
}

.landmarks-btn {
  background-color: rgb(153, 14, 42);
}

.landmarks-btn:hover {
  border: 2px solid goldenrod;
  transition: .5s;
}

.heads-btn {
 background-color: rgb(153, 153, 153);
}

.heads-btn:hover {
  border: 2px solid goldenrod;
  transition: .5s;
}

.nav__link:hover {
  color: rgb(230, 167, 9);
  transition: .5s;
}

.countryName {
  color: white;
  font-size: 20em;
  opacity: .6;
  display: flex;
  justify-content: center;
}

.header__image {
  background-size: cover;
  background: linear-gradient(transparent, rgb(70, 70, 70)), url(https://lp-cms-production.imgix.net/2019-06/b6cc5c258ca09474c5163178f01455e6-cuba.jpeg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 
}

/**************** COUNTRY INFO SECTION ***************/

.countryInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.citiesTitle {
  color:#fff;
  background-color: darkblue;
  padding: 10px 0 10px 10px;
  border-left: 1px solid #fff;
}

.landmarksTitle {
  color: #fff;
  background-color: rgb(153, 14, 42);
  padding: 10px 0 10px 10px;
  border-left: 1px solid #fff;
}

.headsTitle {
  color : #fff;
  background-color: rgb(153, 153, 153);
  padding: 10px 0 10px 10px;
  border-left: 1px solid #fff;
}

.countryInfo--styling {
  display: flex;
  flex-direction: column;

}

.countryInfo__citiesList {
  background-color: blue;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.countryInfo__landmarksList {
  background-color: crimson;
  display: flex;
  flex-direction: column;
  width: 100vw;

}

.countryInfo__headsList {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  width: 100vw;

}


.infoStyling {
  display: flex;
  width: 100%;
  border: 1px solid #fff;
}


.imageStyling {
  height: 250px;
  width: 300px;
}

.details-btn {
  height: 30px;
  width: 100px;
  align-self: center;
  font-size: 1rem;
  border-radius: 3px;
}


