.country-name {
    background:black;
    color:white;
    margin: 0em 0em 1em 0em;
    position: relative;
    bottom: 4px;
    padding: 3px;
}

.country-info {
    display: flex;
    flex-wrap: wrap;
}

.cities-list, .landmarks-list, .heads-list  {
    flex-basis: 30%;
    border: 1px solid black;
    margin:0em 1em 0em 0em;
}

.list-titles {
    list-style:none;
}
.president {
    width: 100%;
    max-width: 11em;
    height: auto;
}

