.navbar__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
}

.nav__list {
    list-style:none;
}

.nav__link {
    text-decoration: none;
    color: black;
    padding-right: 0.5em;
}

.header__image {
    width: 100%;
    max-width: 94em;
    height: auto;
}