.headerImage {
    width: 100%;
    height: auto;
}
.countryName {
    background:black;
    color:white;
    margin: 0;
    text-align:center;
    position: relative;
    bottom: 4px;
    padding: 3px;
}

.citiesList {
    display: flex;
}

.city__name {
    list-style:none;
}
.city__list {
    flex-basis: 33%
}

.city__name {

}
.city__background {
    background: #0000b7ab;
    text-align: center;
}

.imageList__container {
    list-style:none;
}

.landmarksList {
    display: flex;
}
.city__image {
    width: 18em;
    height: 14em;
    margin:0;
}

.landmark__image {
    width: 18em;
    height: 14em;
    margin: 0;
}

.landmarksList {
    display: flex;
}

.landmark__list{
    flex-basis: 33%;
}
.landmark__background {
    background: #0000b7ab;
    text-align: center;
}

.landmark__name {
    list-style:none;
}

.headsList {
    display:flex;
}

.leader__list{
    flex-basis: 49%;
}

.leader__background {
    background: #f31313;
    text-align: center;
    list-style: none;
}

.leader__name {
    font-weight: bold;
    list-style: none;

}
.leader__image { 
    width: 25em;
    height: 25em;
}
.name__header {
    background: #0000b7ab;
    text-align: center;
    width: 12em; 
    margin:0;
}