@import "./main.css";

body {
  margin: 0;
}

.header {
  background-color: cornflowerblue;
  margin: 0;
}

.header__image {
  background-image: url('https://d36tnp772eyphs.cloudfront.net/blogs/1/2011/05/japan-1200x729.jpg');
  background-size: cover;
  height: 60vh;
  width: 100%;
  margin: 0;
  padding-bottom: 30em;
  padding-right: 15px;
}

.country-name {
  margin: 0;
  padding-bottom: 10px;
}

.country-info {
  background-color: cornflowerblue;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
}

.cities-list {
  background-color: floralwhite;
  flex-basis: 33%;
}

.landmarks-list {
  background-color: crimson;
  flex-basis: 35%;
}

.heads-list {
  background-color: floralwhite;
  flex-basis: 33%;
}